[submodule "libs/openai-go"]
	path = libs/openai-go
	url = https://github.com/tingly-dev/openai-go.git
	branch = "tingly-dev"
[submodule "libs/anthropic-sdk-go"]
	path = libs/anthropic-sdk-go
	url = https://github.com/tingly-dev/anthropic-sdk-go.git
	branch = "tingly-dev"
[submodule "libs/go-genai"]
	path = libs/go-genai
	url = https://github.com/tingly-dev/go-genai.git
	branch = "upstream-v1.50.0"
